<head>
    <meta charset="UTF-8">
    <title>Title</title>
   
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Search</h1>

    <form method="POST" action="/search" >
        <input type="number" placeholder="Enter Emp Id" name="id">
        <button type="submit">Search</button>
    </form>


    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>

        {% for row in result %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

